<table class="table mt-8" id="account-bank-table">
    <thead>
        <tr>
            <th>NOM</th>
            <th>SOLDE</th>
            <th>ACTIONS</th>
        </tr>
    </thead>
    <tbody hx-on::after-settle="
        this.firstChild.style.background = 'lightgreen';
        setTimeout(() => this.firstChild.style.background = 'white', 2000);
        clearForm();
        ">

        {% for bank_account in bank_account_list %}
            {% include 'bank_account/partials/bank_account_row.html' %}
        {% empty %}
          <tr class="empty-message">
              <td>Pas de compte bancaire.</td>
          </tr>
        {% endfor %}                
        
    </tbody>

</table>
