{% extends 'base.html' %}

{% block content %}
<div class="flex justify-center items-center" id="container">
  <div class="w-full lg:w-3/4 grid grid-cols-4 gap-4">
    <div class="p-2 bg-white col-span-4 lg:col-span-3 order-2 lg:order-1 rounded-lg" id="third-list">
        <h1 class="text-4xl">Tiers</h1>
        <label class="input">
          <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <g
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-width="2.5"
              fill="none"
              stroke="currentColor"
            >
              <circle cx="11" cy="11" r="8"></circle>
              <path d="m21 21-4.3-4.3"></path>
            </g>
          </svg>
          <input 
              type="search" 
              required 
              placeholder="Search" 
              name="search"
              hx-get="{% url 'bank_account_search' %}"
              hx-trigger="keyup delay:500ms"
              hx-target="#book-table" />
        </label>
        {% include 'third/partials/third_table.html' %}
    </div>
    <div id="third-action" class="p-2 bg-white col-span-4 lg:col-span-1 order-1 lg:order-2 rounded-lg">
      {% if action == "ADD"  %}
        {% include 'third/add.html' %}
      {% elif action == "EDIT" %}
        {% include 'third/edit.html' %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
