{% extends "base.html" %}
{% block content %}
    <div class="d-flex justify-content-end">
        <div class="header">
            <span class="m-2 align-text-top">{{ user }}</span>
        </div>
        <div class="header">
            <a class="m-2 align-text-top" href="{% url 'logout' %}">sign out</a>
        </div>
    </div>
    <div class="row" style="height: 90vh;">
        <div class="col-2 h-100 sidebar">Sidebar {{ user }}</div>
        <div class="col h-100 content">content {{ user }}</div>
    </div>
{% endblock content %}
