<table class="table table-zebra mt-8 border-separate border-spacing-1 border border-gray-300" id="third-table">
    <thead>
        <tr class="bg-blue-200 text-black">
            <th>NOM</th>
            <th class="text-center" colspan="2">ACTIONS</th>
        </tr>
    </thead>
    <tbody hx-on::after-settle="
        this.firstChild.style.background = 'lightgreen';
        setTimeout(() => this.firstChild.style.background = 'white', 2000);
        clearForm();
        ">

        {% for third in third_list %}
            {% include 'third/partials/third_row.html' %}
        {% empty %}
          <tr class="empty-message">
              <td>Pas de tier.</td>
          </tr>
        {% endfor %}                
        
    </tbody>

</table>
