<tr>
    <td>
        {{ third.name }}
    </td>
    <td class="m-0 p-1 w-1 text-center border-r border-gray-300" nowrap>
        <button class="btn btn-sm btn-success"
            hx-get="{% url 'third_edit' third.pk %}"
            hx-target="#third-action"
            hx-trigger='click'>
          Edit
        </button>
    </td>
    <td class="m-0 p-1 w-1 text-center border-r border-gray-300" nowrap>
      {% if not third.operation_set.all %}
        <button class="btn btn-sm btn-error"
            hx-delete="{% url 'third_delete' third.pk %}"
            hx-target="#third-list"
            hx-select="#third-list"
            hx-trigger='confirmed'
            onClick="Swal.fire({
                title: 'Confirm',
                text: 'Are you sure you want to delete {{ third.name }}?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, destroy it!',
                showCloseButton: true,
            }).then((result)=>{
                if(result.isConfirmed){
                  htmx.trigger(this, 'confirmed');  
                } 
            })">
          Delete
        </button>
      {% endif %}
    </td>
</tr>
