<tr>
    <td>
        {{ category.name }}
    </td>
    <td class="m-0 p-1 w-1 text-center border-r border-gray-300" nowrap>
        <button class="btn btn-sm btn-success"
            hx-get="{% url 'category_edit' category.pk %}"
            hx-target="#category-action"
            hx-trigger='click'>
          Edit
        </button>
    </td>
    <td class="m-0 p-1 w-1 text-center border-r border-gray-300" nowrap>
      {% if not category.operation_set.all %}
        <button class="btn btn-sm btn-error"
            hx-delete="{% url 'category_delete' category.pk %}"
            hx-target="#category_list"
            hx-select="#category_list"
            hx-trigger='confirmed'
            onClick="Swal.fire({
                title: 'Confirm',
                text: 'Are you sure you want to delete {{ category.name }}?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, destroy it!',
                showCloseButton: true,
            }).then((result)=>{
                if(result.isConfirmed){
                  htmx.trigger(this, 'confirmed');  
                } 
            })">
          Delete
        </button>
      {% endif %}
    </td>
</tr>
