* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto-Regular", sans-serif;
  min-height: 100%;
  margin:0;
  padding: 0.6rem;
  min-height: 100vh;
  min-width: 100vw;
}
