<form id="operation-form" 
    hx-post="{% url 'operation_list' '1' %}"
    hx-target="#operation-table > tbody"
    hx-swap="afterbegin"
    hx-on::after-request="this.reset()">

    {% csrf_token %}

    <div id="form-errors" class="text-red-500">
        {{ form.non_field_errors }}
    </div>

    <fieldset class="fieldset">
        <label class="label text-lg" for="{{ form.date.id_for_label }}">{{ form.date.label }}</label>
         {{ form.date }}

        <div class="form-field-errors">
            {% if form.date.errors %}
                {% for error in form.date.errors %}
                    <p class="text-red-500">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </fieldset>

    <fieldset class="fieldset">
        <label class="label text-lg" for="{{ form.tier.id_for_label }}">{{ form.tier.label }}</label>
        {{ form.tier }}
    </fieldset>

    <button class="btn btn-success mt-4">Submit</button>

</form>

