{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Money</title>
        <link rel="stylesheet" href="{% static 'web/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'web/css/base.css' %}">
        <script src="{% static 'web/js/htmx.min.js' %}"></script>
        <script src="{% static 'web/js/bootstrap.min.js' %}"></script>
    </head>
    <body>
        <div class="container-fluid">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>
